.btn-spinner {
   width: 40px;
   height: 40px;
   display: grid;
   border-radius: 50%;
   -webkit-mask: radial-gradient(farthest-side,#0000 40%,#14b8a6 41%);
   background: linear-gradient(0deg ,rgba(20,184,166,0.5) 50%,rgba(20,184,166,1) 0) center/3.2px 100%,
        linear-gradient(90deg,rgba(20,184,166,0.25) 50%,rgba(20,184,166,0.75) 0) center/100% 3.2px;
   background-repeat: no-repeat;
   animation: btn-spinner-d3o0rx 1s infinite steps(12);
}

.btn-spinner::before,
.btn-spinner::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}

.btn-spinner::after {
   opacity: 0.83;
   transform: rotate(60deg);
}

@keyframes btn-spinner-d3o0rx {
   100% {
      transform: rotate(1turn);
   }
}
